#redirect 301 /cookbook/index.html http://shelf.lib.montana.edu/cookbook/toc.html
#process .html and .xml as .php
AddType application/x-httpd-php .html 
AddType application/x-httpd-php .xml
RewriteEngine On
#allows removal of html file extension
RewriteCond %{REQUEST_FILENAME}.html -f
#may need to set to base directory where you put this app
#RewriteBase /book/home-cooking-history-409/
RewriteRule ^(.*)$ $1.html [L]
